@model List<TaskItem>

<ul class="list-group" id="task-list">
    @foreach (var task in Model)
    {
        <li class="list-group-item">
            @task.TaskName

            <form method="post" action="@Url.Action("Edit")" class="form-inline float-right">
                @Html.AntiForgeryToken()

                <!-- Hidden input field for the task item's id -->
                <input type="hidden" name="id" value="@task.TaskItemId" />

                <!-- Dropdown menu for selecting the task item's day -->
                <div class="form-group mx-sm-3">
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </li>
    }
</ul>




@section Scripts{
    <script>
        function submitForm() {
            // Get the form data
            var formData = {
                'TaskName': $('input[name=TaskName]').val(),
                'TaskDescription': $('input[name=TaskDescription]').val(),
                'TimeOfDay': $('input[name=TimeOfDay]').val(),
                'DayId': $('select[name=DayId]').val(),
                'PersonId': $('select[name=PersonId]').val()
            };

            // Make the Ajax request
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Create")',
                data: formData,
                success: function (data) {
                    // Handle the response here
                }
            });
        }
    </script>
}