@model TaskDelegatingWebApp.ViewModels.WeekViewModel;

@{
    ViewBag.Title = "Weeks";
}



<h1>Week View</h1>

<table>
    <tr>
        <th>Week ID</th>
        <th>Days</th>
        <th>Tasks</th>
    </tr>
    @for (int i = 0; i < Model.Days.Count(); i++)
    {
        var week = @Model.Week.ElementAt(i);
        <tr>
            <td>@week.Id</td>
            <td>
                <table>
                    <tr>
                        <th>Day ID</th>
                        <th>People</th>
                        <th>Tasks</th>
                    </tr>
                    @for (int j = 0; j < week.Days.Count; j++)
                    {
                        var day = week.Days.ElementAt(j);
                        <tr>
                            <td>@day.DayId</td>
                            <td>
                                <table>
                                    <tr>
                                        <th>Name</th>
                                    </tr>
                                    <tr>
                                        Description

                                    </tr>
                                    <tr>
                                        Person
                                    </tr>
                                    }
                                </table>
                            </td>
                            <td>
                                <table>
                                    <tr>
                                        <th>Task ID</th>
                                        <th>Description</th>
                                        <th>Person</th>
                                    </tr>
                                    @for (int l = 0; l < day.TaskItems.Count; l++)
                                    {
                                        var task = day.TaskItems.ElementAt(l);
                                        <tr>
                                            <td>@task.TaskItemId</td>
                                            <td>@task.TaskDescription</td>
                                            <td>@task.Person.Name</td>
                                        </tr>
                                    }
                                </table>
                            </td>
                        </tr>
                    }
                </table>
            </td>
        </tr>
    }
</table>
