@model TaskDelegatingWebApp.ViewModels.PersonViewModel;

@{
#nullable disable
    ViewData["Title"] = "People";
}

<h1>People</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Tasks
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.People)
        {
            string selectedRow = "";
            @if (item.PersonId == (int?)ViewData["PersonId"])

                selectedRow = "table-success";
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @foreach (var tasks in item.TaskAssignments)

                        @tasks.TaskItem.TaskName
         <br />

                    </td>





                    <td>
                        <a asp-action="Index" asp-route-id="@item.PersonId">Select</a> |

                        <a asp-action="Edit" asp-route-id="@item.PersonId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.PersonId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.PersonId">Delete</a>
                    </td>
                </tr>
        }

    </tbody>
</table>
@if (Model.TaskItems != null)
{
    <h3></h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Task number</th>
            <th>Task Name</th>
            <th>Description</th>
            <th>Day</th>
        </tr>

        @foreach (var item in Model.TaskItems)
        {
            Day itemDay = item.Day;
            string selectedRow = "";
            if (item.TaskItemId == (int?)ViewData["TaskItemId"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "Details", "TaskItems", new {id = item.TaskItemId})
                <td>
                        @item.TaskItemId
                </td>
                <td>
                        @item.TaskName
                </td>
                <td>
                        @item.TaskDescription
                </td>
                <td>
                        @Html.ActionLink(itemDay.DayName, "Details", "Days", new {id = itemDay.DayId})
                </td>
            </tr>
        }

    </table>
}
